@charset "utf-8";

.layout-paragraphs-component-form, 
.form-group {
  
  fieldset {
    
    flex-direction: column;
    align-items: flex-start;

    /* FIX style color (radio) */
    &.fr-fieldset__content {
      width: auto !important;
    }
    &.ssui-style--compact .radios { 
      display: flex; 
      .fr-fieldset__element { flex: inherit !important; }
    }
    .ssui__option-wrapper {

      input[type="radio"] { opacity: 1; }
    }
    
    #layout-paragraphs-element {
      
      .fr-radio-group input[type=radio]+label {
      
        padding-left: 1rem;
      }
      .fr-radio-group input[type=radio]+label,
      .fr-radio-group input[type=radio]:checked+label {
      
        background-image: none !important;
      }

      .layout-select__item {

      margin-right: 5px !important;
      }
    }

    .field--type-link .fieldset-wrapper {

      padding: 1rem;
    }
  }    
}

.ui-widget,
.ui-widget input {

  font-family: Marianne, arial, sans-serif;
}

.ui-dialog {

  .ui-dialog-titlebar .ui-dialog-titlebar-close {

    margin: 2px 0 -10px 0 !important;
  }

  .ui-dialog-title {

    width: 100%;
  }
}

/* Dark mode */