@media only screen and (min-width: $lg)  {

  .lpb-dialog {

    .ui-front { background-color: var(--background-default-grey); }
  
    min-width: 950px !important;

    .lpb-component-list__group--content {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }
}

.lp-builder { width: 100%; }

.lpb-component-list__search {

  padding: 1rem;

  .lpb-component-list-search-input {
    
    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    background-color: var(--background-contrast-grey);
    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
    color: var(--text-label-grey);
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.lpb-component-list__group--content {

  padding: 1rem;

  a {

    --text-spacing: 0;
    --title-spacing: 0;
    --underline-img: none;
    --hover-tint: var(--hover);
    --idle: transparent;
    --hover: inherit;
    --active: inherit;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
    color: var(--text-action-high-blue-france);

    &:hover {

      background: var(--background-action-low-blue-france);
    }
  }
}

#dsfr-components-accordions-group .lpb-component-list__group--content { padding: 0rem; }