{{ attach_library('dsfr_paragraph/layout_paragraphs') }}

<div{{ attributes }}>
  {% if is_empty  %}
    <div class="lpb-empty-container__wrapper">
      <div class="lpb-empty-container">
        <div class="lpb-empty-message">{{ empty_message }}</div>
        {{ insert_button }}
      </div>
    </div>
  {% else %}
    {% if translation_warning %}
    <div class="messages messages--status">
      {{ translation_warning }}
    </div>
    {% endif %}
    <div class="js-lpb-component-list">
      {{ root_components }}
    </div>
  {% endif %}
</div>