{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% set n = 0 %}
      {% set get_buttons = content.field_dsfr_p_buttons %}
      {% set buttons = [] %}
      {% set simple = {} %}
      {% set save = {} %}

      {# data #}
      {% for key, button in get_buttons %}
        {% if key matches '/^\\d+$/' %}

          {% set simple = simple|merge({ 'text': button['#paragraph'].field_dsfr_p_label.value }) %}
          {% set simple = not_empty_merge( simple, button['#paragraph'].field_dsfr_p_button_type.value, '', 'type') %}
          {% set simple = not_empty_merge( simple, button['#paragraph'].field_dsfr_p_disabled.value, '', 'disabled') %}

          {% set font_size = button['#paragraph'].field_dsfr_p_font_size.0.value %}
          {% if font_size == '1' %}
            {% set simple = simple|merge({ 'sm': true }) %}
          {% elseif font_size == '2' %}
            {% set simple = simple|merge({ 'lg': true }) %}
          {% endif %}

          {% set save = save|merge([ simple ]) %}
          {% set simple = {} %}
          {% set n = n + 1 %}

        {% endif %}      
      {% endfor %}

      {# Classes #}
      {% set c = [] %}
      {% set c = not_empty_merge( c, content.field_dsfr_p_margin_top.0['#markup'], 'fr-mt-' ) %}
      {% set c = not_empty_merge( c, content.field_dsfr_p_margin_bottom.0['#markup'], 'fr-mb-' ) %}

      {% if n == 1 %} 
        {{ dsfr_button(save.0, c) }}
      {% else %}

        {% for i in save %}
          {% set multiple = dsfr_button(i) %}
          {% set buttons = buttons|merge([multiple]) %}
        {% endfor %}
        {{ dsfr_buttons( { 'group': buttons }, c ) }}
 
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}