{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% set data = { 'text': content.field_dsfr_p_link.0['#title'] } %}
      {% set data = data|merge({ 'url': content.field_dsfr_p_link.0['#url'] }) %}
      {% set data = not_empty_merge( data, content.field_dsfr_p_title.0['#context'].value, '', 'title') %}
      {% set data = not_empty_merge( data, content.field_dsfr_p_tooltip.0['#context'].value, '', 'tooltip') %}

      {% set arrow_icon = content.field_dsfr_p_arrow_icon.0['#markup'] %}
      {% if arrow_icon == 'l' %}
        {% set data = data|merge({ 'arrow': true }) %}
      {% elseif arrow_icon == 'r' %}
        {% set data = data|merge({ 'arrow': true }) %}
        {% set data = data|merge({ 'right': true }) %}
      {% endif %}

      {% set font_size = content.field_dsfr_p_font_size.0['#markup'] %}
      {% if font_size == '1' %}
        {% set data = data|merge({ 'sm': true }) %}
      {% elseif font_size == '2' %}
        {% set data = data|merge({ 'lg': true }) %}
      {% endif %}
      
      {# Classes #}
      {% set c = [] %}
      {% set c = not_empty_merge( c, content.field_dsfr_p_margin_top.0['#markup'], 'fr-mt-' ) %}
      {% set c = not_empty_merge( c, content.field_dsfr_p_margin_bottom.0['#markup'], 'fr-mb-' ) %}

      {{ dsfr_link( data, c ) }}

    {% endblock %}
  </div>
{% endblock paragraph %}